header {
  .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .brand-logo-desktop {
    width: 318px;
    display: none;
    @include media-breakpoint-up($md) {
      display: block;
    }
  }
  .brand-logo-small {
    width: 106px;
    @include media-breakpoint-up($md) {
      display: none;
    }
  }

  &.header-home {
    .c-btn-primary {
      padding: 5px 30px;
      color: $blue;
      border-radius: 10px;
      border: solid 2px $blue;
      max-width: 170px;
      display: block;
      @include media-breakpoint-up($sm) {
        display: none;
      }
    }
  }

  &.header-compte {
    .logo-container {
      display: flex;
      align-items: center;
      @include media-breakpoint-up($md) {
        display: block;
      }
    }
    .brand-logo-desktop {
      width: 204px;
    }
    .brand-logo-small {
      width: 106px;
      margin-right: 15px;
    }
  }
}
