.creation-compte {
  .c-form {
    display: flex;
    flex-direction: column;
  }
  .input-icon {
    top: 23px;
  }
  .checkbox-container {
    position: relative;
    display: block;
    padding-left: 27px;
    margin-top: 15px;
    margin: 0 40px 20px 20px;
    color: $grey;
    cursor: pointer;
    line-height: 20px;
    @include media-breakpoint-up($lg) {
      align-self: center;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      cursor: pointer;
      &:checked ~ .checkmark {
        border: 2px solid $blue;
        &:after {
          display: block;
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 2px;
      border: 1px solid $light-grey;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: "";
        display: none;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $blue;
      }
    }
  }
}
